* {
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(217, 165, 122)),
      color-stop(0.72, rgb(189, 139, 73)),
      color-stop(0.86, rgb(148, 96, 28))
    );
  }
}

.watugador {
  width: 100vw;
  height: 100vh;
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
  overflow: hidden;

  .page {
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: 0.7rem;
    width: 95vw;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    * {
      transition: 0.2s all;
    }
    > div {
      width: 93vw;
      height: 96%;
      border-radius: 10px;
      overflow: auto;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 8%;
    position: relative;
    width: 95vw;
  }

  > div {
    &.changing {
      * {
        opacity: 0;
      }
    }
  }
}
